#output {
	font-size: 8pt;
	white-space: pre-wrap;
}

#output .err {
	color: red;
}

#compile-busy {
	display: none;
}

#col-editor {
	height: 75%;
}

#col-tools {
	height: 25%;
}

@media (min-width: 992px) {
	#col-editor, #col-tools {
		height: 100%;
	}
}
